.nav-custom {
  margin: 0px auto;
  padding: 0px auto;
}

.navbar-custom {
  background-color: #463be7;
  box-shadow: 0px 5px 5px grey;
}

.border-bottoms {
  border-bottom-color: #ffffff;
}

.text-custom {
  color: #ffffff;
}

.nav-item-spacing {
  padding-right: 25px;
}

.active {
  color: #ffffff;
  border-bottom: 1px;
  border-color: #ffffff;
}
