.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.main-container {
  margin: 0px auto;
  background: #e1dee6;
  color: floralwhite;
  padding-bottom: 30px;
}

.middle-col {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #fcfcfd;
  box-shadow: 0px 5px 20px grey;
}

.over img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.middle-col-content {
  padding-left: 20px;
  padding-right: 20px;
}

.row-content {
  margin-top: 20px;
}

.middle-col1 {
  padding: 0%;
  margin-right: 10px;
  height: 250px;
}

.middle-col2 {
  padding: 0%;
  margin-left: 10px;
  height: 250px;
}

.card-title {
  color: #000000;
}

.checkMargin {
  margin-bottom: 20px;
}

.subjects {
  background: #5006cf;
  padding: 0%;
  margin-left: 10px;
  height: 90px;
}

.img-max {
  max-width: 100px;
  width: 100%;
}

.save-btn {
  width: 500px;
}

.upload-btn {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 30px;
}

.modal-title {
  text-align: center;
  width: 100%;
}

.sign-up-link {
  color: #463be7;
}

.forgot-pass {
  text-align: right;
  float: right;
}
